@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
    height: 100%;
    max-width: 100vw;
}

body {
    margin: 10px;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

nav {
    display: none;
}

.mobile-menu {
    cursor: pointer;
    margin: 0 3%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    max-width: 95vw;
}

.title {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0 3%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 95vw;
    padding: 1em;
}

.hero-text {
    text-align: center;
}

.sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

section {
    border: 1px solid black;
    max-width: 45vw;
    cursor: pointer;
    max-height: 200px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 25px;
}

.links-out {
    max-height: 95%;
}

.box-img {
    max-width: 95%;
    max-height: 75%;
}

.box-text {
    margin: 0;
    padding: 10px;
    color: black;
}

.footer {
    padding: 25px;
    text-align: center;
    color: black;
}